{% extends 'list_property/add_hotel_nav.html' %}
{% load static %}
{% block content %}



    <!-- Basic Info section starts -->
    <section class="form" id="form">
      <h1 class="heading"><span></span>Basic Info</h1>
      <h3>
        Start by telling us your property's name, contact details and address.
      </h3>

      <form action="/hotel/add_hotel" method="POST">
        <h5>What is the name of your property?</h5>
        {% csrf_token %}
        <input type="text" placeholder="Name of your property" name="hotel_name" class="box" />
        <p>
          This name will be seen by guests when they search for a place to stay.
        </p>
   
        <h5>What are the contact details for this property?</h5>
        <span>Contact name</span>
        <input
          type="text" name="contact_name"
          placeholder="Who will receive the letter?"
          class="box"
        />
        <p>
          Contact number (so we can assist with your registration when needed)
        </p>
        <span>Phone Number</span>
        <input type="text" name="phonenumber" placeholder="Enter Phone Number" class="box" />
      
        <h5>Where is your property located?</h5>
        <span>Street address</span>
        <p></p>
        <input
          type="address" name="hotel_address"
          placeholder="Enter the Name of Street"
          class="box2"
        />
        <p></p>
        <span>Region</span>
        <input
          type="text" name="hotel_region"
          placeholder="Enter the Name of Region"
          class="box2"
        />
        <p></p>
       

        <input type="submit"  class="btn3"
        style="display: inline-block; text-align: center; color: black"value="continue">
      
      </form>
    </section>

   

  

    <!-- custom js file link  -->
    <script src="{% static '/js/hotel_registration.js' %}"></script>


{% endblock content %}