<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nepGhuma</title>
    <link rel="stylesheet" href="../static/css/flights2.css">
</head>
<body>
    <div class="regform"> <h1> Registration form </h1></div>
    <div class="main">
        <form>
    <div class="class1">
        <label class="label">Airlines Name</label><br>
        <input class="airlines" type="text" name="Airlines Name"><br>

        <label class="label">From</label><br>
        <input class="from" type="text" name="From"><br>

        <label class="label">To</label><br>
        <input class="to" type="text" name="To"><br>

        <label class="label">Date</label><br>
        <input class="date" type="date" name="Date"><br>

        <label class="label">Price</label><br>
        <input class="price" type="text" name="Price"><br>
        
        <button type="submit">Submit</button>
    </div>
        </form>
    
</body>
</html>