{% extends 'nav.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/searched_guide.css' %}">
<script src="{% static '/js/searched_guide.js' %}" defer></script>
<section class="heading-link">
    <h3>Guides For Your Searched Place</h3>
    <p>  Searched wrong place? / <a href="/food/food">Go Back</a></p>
</section>

{% if searched %}
<section class="guide" id="guide">

    <div class="box-container">
        {% for food in venues %}
        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="{% static 'assets/' %}{{food.food_image}}"  alt="">
            </div>
            <div class="content">
                <h3>{{food.food_name}}</h3>
                <li>place:details {{food.food_place}}</li>
                <li>{{food.food_details}}</li>
                <!-- <a href="#">Book <i class="fas fa-angle-right"></i></a> -->
                <!-- <a  href="book_guide/{{book_guide.guide_id}}">Book <i class="fas fa-angle-right"></i></a> -->
            </div>
        </div>
        {% endfor %}

        {% else %}
        <h1 style="color:white">Hey ! You forget to searched for places</h1>
        {% endif %}
    </div>

</section>

{% endblock content %}