@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  margin-top: 10rem;
  text-align: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.heading span {
  color: #29d9d5;
}

.heading2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.heading2 span {
  color: #29d9d5;
}



.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #29d9d5;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .btn {
  margin-top: 0;
}


#menu-btn {
  font-size: 2.5rem;
  color: #29d9d5;
  cursor: pointer;
  display: none;
}

.heading-link {
  margin-top: 11.5rem;
  border-radius: 0rem;
  padding: 13rem;
  text-align: center;
  /* background: url(../img/shop-bg2.png) no-repeat; */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 36, 36, 0.7)), to(rgba(37, 37, 37, 0.7))), url(/static/assets/shop/shop-bg2.png) no-repeat;
  background: linear-gradient(rgba(37, 36, 36, 0.7), rgba(37, 37, 37, 0.7)), url(/static/assets/shop/shop-bg2.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: rgb(238, 234, 234);
}

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: rgb(248, 242, 242);
}

.heading-link p a {
  color: #10acac;
}

.heading-link p a:hover {
  text-decoration: underline;
}


.shoes .slide {
  text-align: center;
  margin-top: 0rem;
}

.shoes .slide img {
  height: 35rem;
  margin: 1rem 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.shoes .slide h3 {
  margin-top: 3rem;
  padding: 1rem 0;
  font-size: 2.5rem;
  color: rgb(253, 253, 253);
  text-transform: capitalize;
  opacity: 0;
}

.shoes .slide .btn {
  opacity: 0;
}

.shoes .swiper-slide-active img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.shoes .swiper-slide-active h3, .shoes .swiper-slide-active .btn {
  opacity: 1;
}

.shoes-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  min-height: 100vh;
  width: 100%;
  background: rgba(5, 4, 4, 0.8);
  display: none;
}

.shoes-preview-container .shoe-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
  background: #378583;
  padding: 9%;
  position: relative;
  display: none;
}

.shoes-preview-container .shoe-preview .fa-times {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: rgb(2, 1, 1);
}

.shoes-preview-container .shoe-preview .fa-times:hover {
  color: #29d9d5;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.shoes-preview-container .shoe-preview .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.shoes-preview-container .shoe-preview .image img {
  width: 100%;
}

.shoes-preview-container .shoe-preview .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.shoes-preview-container .shoe-preview .content h3 {
  font-size: 4rem;
  color: rgb(5, 4, 4);
  text-transform: capitalize;
}

.shoes-preview-container .shoe-preview .content p {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  line-height: 2;
  padding: 1rem 0;
}

.shoes-preview-container .shoe-preview .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.shoes-preview-container .shoe-preview .content .stars i {
  color: #000000;
}

.shoes-preview-container .shoe-preview .content .stars span {
  color: rgb(253, 247, 247);
}

.shoes-preview-container .shoe-preview .content .price {
  font-size: 3rem;
  color: rgb(255, 245, 245);
  text-transform: capitalize;
  padding: 1rem 0;
}


.jackets .slide {
  text-align: center;
  margin-top: 0rem;
}

.jackets .slide img {
  height: 35rem;
  margin: 5rem 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.jackets .slide h3 {
  margin-top: 3rem;
  padding: 1rem 0;
  font-size: 2.5rem;
  color: rgb(245, 245, 245);
  text-transform: capitalize;
  opacity: 0;
}

.jackets .slide .btn {
  opacity: 0;
}

.jackets .swiper-slide-active img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.jackets .swiper-slide-active h3, .jackets .swiper-slide-active .btn {
  opacity: 1;
}

.jackets-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.jackets-preview-container .jacket-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  background: #378583;
  padding: 9%;
  position: relative;
  display: none;
}

.jackets-preview-container .jacket-preview .fa-times {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #000000;
}

.jackets-preview-container .jacket-preview .fa-times:hover {
  color: #29d9d5;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.jackets-preview-container .jacket-preview .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.jackets-preview-container .jacket-preview .image img {
  width: 100%;
}

.jackets-preview-container .jacket-preview .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.jackets-preview-container .jacket-preview .content h3 {
  font-size: 4rem;
  color: rgb(2, 1, 1);
  text-transform: capitalize;
}

.jackets-preview-container .jacket-preview .content p {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  line-height: 2;
  padding: 1rem 0;
}

.jackets-preview-container .jacket-preview .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.jackets-preview-container .jacket-preview .content .stars i {
  color: #030303;
}

.jackets-preview-container .jacket-preview .content .stars span {
  color: rgb(255, 255, 255);
}

.jackets-preview-container .jacket-preview .content .price {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  padding: 1rem 0;
}


.service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.service .box {
  text-align: center;
  padding: 2rem;
}

.service .box i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #29d9d5;
}

.service .box p {
  font-size: 2rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #29d9d5;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #29d9d5;
  color: #29d9d5;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #29d9d5;
  color: #111;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #29d9d5;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #29d9d5;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: #222;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}

.credit span {
  color: #29d9d5;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }

}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  
}


@media (max-width: 650px) {
  .shoes .slide img {
  height: 15rem;
  }
}
@media (max-width: 650px) {
  .jackets .slide img {
  height: 15rem;
  }
}
