* {
    margin: 0;
    padding: 0;
  }
  .heading {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  
  .heading span {
    color: #29d9d5;
    font-size: 2rem;
  }
  
  .heading h1 {
    font-size: 4rem;
    color: #fff;
  }
  .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: #29d9d5;
    border: 0.2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
  }
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: 0.2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
  }
  
  .btn:hover {
    background: #29d9d5;
    color: #111;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #111;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #29d9d5;
    border-radius: 5rem;
  }
  
  body {
    background: #111;
    overflow-x: hidden;
  }
  
  section {
    padding: 3rem 9%;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .heading span {
    color: #29d9d5;
    font-size: 2rem;
  }
  
  .heading h1 {
    font-size: 4rem;
    color: #fff;
  }
  
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: 0.2rem solid #29d9d5;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
  }
  
  .btn:hover {
    background: #29d9d5;
    color: #111;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem 9%;
  }
  
  .header .navbar a {
    font-size: 1.7rem;
    color: #aaa;
    display: inline-block;
    margin: 0 1rem;
  }
  
  .header .navbar a:hover {
    color: #29d9d5;
  }
  
  .header .btn {
    margin-top: 0;
  }
  
  .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
  }
  
  .logo i {
    color: #29d9d5;
    padding-right: 0.5rem;
  }
  
  #menu-btn {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/static/assets/event-bro.jpg);
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
  }
  .regform {
    font-size: 30px;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.7);
    width: 800px;
    color: rgb(41, 217, 213);
    margin: auto;
    padding: auto;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
  }
  .main {
    background-color: rgba(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
  }
  
  form {
    padding: 20px;
  }
  .label {
    margin-left: 25px;

    width: 125px;
    color: seashell;
    font-size: 22px;
    font-weight: 700;
  }
  
  .fname,
  .lname,
  .msg,
  .mail,
  .phone,
  .date,
  .purpose,
  .price {
    position: relative;
    left: 200px;
    top: -37px;
    width: 500px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 20px;
    font-family: monospace;
    color: slategray;
  }
  button {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    border: 0.2rem solid rgb(41, 217, 213);
    color: rgb(41, 217, 213);
    font-size: 28px;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.25px;
    position: relative;
    left: 610px;
    top: -4px;
  }
  button:hover {
    background-color: rgb(41, 217, 213);
    color: black;
  }

  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box {
    padding: 1rem 0;
  }
  
  .footer .box-container .box .logo {
    padding-bottom: 1rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  .footer .box-container .box p {
    font-size: 1.4rem;
    color: #aaa;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .footer .box-container .box p i {
    padding-right: .5rem;
    color: #29d9d5;
  }
  
  .footer .box-container .box .share {
    padding-top: 1rem;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: 0.2rem solid #29d9d5;
    color: #29d9d5;
    margin-right: .5rem;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background: #29d9d5;
    color: #111;
  }
  
  .footer .box-container .box .links {
    font-size: 1.4rem;
    color: #aaa;
    padding: 1rem 0;
    display: block;
  }
  
  .footer .box-container .box .links:hover {
    color: #29d9d5;
  }
  
  .footer .box-container .box .links:hover i {
    padding-right: 2rem;
  }
  
  .footer .box-container .box .links i {
    padding-right: .5rem;
    color: #29d9d5;
  }
  
  .footer .box-container .box form .email {
    width: 100%;
    border-radius: 5rem;
    border: 0.2rem solid #29d9d5;
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color: #aaa;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
  }
  
  .credit {
    background: #222;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: #aaa;
  }
  
  .credit span {
    color: #29d9d5;
  }
  