{% extends 'nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/book_vehicle3.css' %}">

<section class="book" id="book">

    <h1 class="heading"> Vehicle <span> Details </span> </h1>
    
    <div class="row-1">
    
        <div class="image">
            <img data-aos="fade-up" data-aos-delay="150" src="{% static 'assets/' %}{{rents.v_image}}" alt="">
        </div>
    
        <div class="content">
            <h3>Toyota Landcruiser Prado </h3>
            <h4>Details:{{rents.V_model}}</h4>
            <div class="box-container">
                <div class="box">
                    <p> <span> Seats: </span> max 9 </p>
                    <p> <span> Air Condition: </span> Available </p>
                    <p> <span> Best For: </span> Both off road and on road </p>
                    <p> <span> Driver: </span> Available </p>
                </div>
                <div class="box">
                    <p> <span> Music System: </span> Available </p>
                    <p> <span> Rate: </span> Nrs. 5000 per day </p>
                    <p> <span> Discount: </span> Only For online booking </p>

                </div>
            </div>
            
            <h1 class="heading"><span></span> Book or Inquiry </h1>
                          
         <form action="" method="POST">
                {% csrf_token %}
                <input type="text" class="box" name="vehicle" value={{rents.v_id}}></br>
                <input ype="text" name="customer" value={{user.id}} class="box" required> 
                <!-- <input type="email" placeholder="Your Email ID" class="box">
                <input type="number" placeholder="Your Contact Number" class="box">
                <input type="text" placeholder="Your Nationality" class="box">                
                <input type="number" placeholder="Number of Persons" class="box"> -->
                <!-- <input type="text" placeholder="Vehicle ID" class="box">  -->
                <p style="color:black"> <span> Start date </span>  </p>
                <input type="date"  name='start_date' placeholder="Journey Starts" class="box">
                <p style="color:black"> <span> End date </span>  </p>
                <input type="date"  name="end_date" placeholder="Journey Ends" class="box">
                <input type="text" name="address"  placeholder="address" class="box"></br>
                <!-- <h5>Please provide your travel detail in following format:</h5>
                <li>Day 1...</li>
                <li>Day 2...</li>
                <li>Day 3...</li>-->
    
                <textarea name="" placeholder="Details" id="" cols="10" rows="10"></textarea>
    
                <input type="submit" class="btn2" value="Submit">
    
            </form>    
                
<!--             
            <form action="" method="POST">
                <h1> Fill up the form for booking</h1>
                {% csrf_token %}
                <label>Vehicle</label>
                <input type="text" name="vehicle" value={{rents.v_id}}></br>
                <label>user_id</label>
                <input type="text" name="customer" value={{user.id}}></br>
                <label>address</label>
                <input type="text" name="address"></br>

                <label>start_date</label>
                <input type="date" name='start_date'></br>
                <label>end_date</label>
                <input type="date" name="end_date"></br>

                <input type="submit" value="Book Now">

            </form> -->
        </div>
    
    </div>
</section>

{% endblock content %}