<link rel="stylesheet" href="css/book_vehicle.css">

<section class="book" id="book">

    <h1 class="heading"> Vehicle <span> Details </span> </h1>
    
    <div class="row-1">
    
        <div class="image">
            <img src="images/pngwing.com (7).png" alt="">
        </div>
    
        <div class="content">
            <h3>Toyota Landcruiser Prado </h3>
            <h4>Details:</h4>
            <div class="box-container">
                <div class="box">
                    <p> <span> Seats: </span> max 9 </p>
                    <p> <span> Air Condition: </span> Available </p>
                    <p> <span> Best For: </span> Both off road and on road </p>
                    <p> <span> Driver: </span> Available </p>
                </div>
                <div class="box">
                    <p> <span> Music System: </span> Available </p>
                    <p> <span> Rate: </span> Nrs. 5000 per day </p>
                    <p> <span> Discount: </span> Only For online booking </p>

                </div>
            </div>
            
            <h1 class="heading"><span></span> Book or Inquiry </h1>
                          
            <form action="">

                <input type="text" placeholder="Your Full Name" class="box" required>
                <input type="email" placeholder="Your Email ID" class="box">
                <input type="number" placeholder="Your Contact Number" class="box">
                <input type="text" placeholder="Your Nationality" class="box">                
                <input type="number" placeholder="Number of Persons" class="box">
                <input type="text" placeholder="Vehicle ID" class="box"> 
                <input type="date" placeholder="Journey Starts" class="box">
                <input type="date" placeholder="Journey Ends" class="box">
                <h5>Please provide your travel detail in following format:</h5>
                <li>Day 1...</li>
                <li>Day 2...</li>
                <li>Day 3...</li>
    
                <textarea name="" placeholder="Details" id="" cols="10" rows="10"></textarea>
    
                <input type="submit" class="btn2" value="Submit">
    
            </form>   
                
            
        </div>
    
    </div>
</section>