{% extends 'nav.html' %}
{% load static %}
{% block content %}

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static '/css/vehicle_rent.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />

    <!-- custom js file link  -->

    <script src="{% static '/js/vehicle_rent.js' %}" defer></script>
  </head>
  <body>
    <!-- header section starts  -->

    
    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">
        <div class="content">
            <span data-aos="fade-up" data-aos-delay="150">nepGhumau</span>
            <h3 data-aos="fade-up" data-aos-delay="300">Vehicle Rent</h3>
            <p data-aos="fade-up" data-aos-delay="450">
              Book a vehicle
            </p>
            <a data-aos="fade-up" data-aos-delay="600" href="#our_vehicles" class="btn" >Rent</a>
          </div>
    </section>

    <!-- home section ends -->

    <!-- vehicle rent details section starts  -->

    <section class="our_vehicles" id="our_vehicles">

        <div class="heading">
            <span data-aos="fade-up" data-aos-delay="150">Popular Vehicles</span>
            <h1 data-aos="fade-up" data-aos-delay="150">Choose vehicle of your choice</h1>
        </div>
      

      
    
        <div class="box-container">
            {% for rent in rents %}
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static 'assets/' %}{{rent.v_image}}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300"> 
                        {{rent.v_color}}</h3>
                        <h3 data-aos="fade-up" data-aos-delay="300"> 
                            {{rent.V_model}}</h3>
                            
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="vehicle_detail/{{rent.v_id}}">Details <i class="fas fa-angle-right"></i></a>
                    <p class="ml-5" >Your Customer ID is:
                        {{request.session.customer_id}}</p>
                  
                </div>
            </div>
            {% endfor %}
            <!-- <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat-1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat-1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat-1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat-1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat-1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat-1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat-1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat-1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
    
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="image">
                    <img data-aos="fade-up" data-aos-delay="150" src="{% static "assets/cat1.jpg" %}" alt="">
                </div>
                <div class="content">
                    <h3 data-aos="fade-up" data-aos-delay="300">Prado</h3>
                    <a data-aos="zoom-in-left" data-aos-delay="300" href="#">Details <i class="fas fa-angle-right"></i></a>
                </div>
            </div>     -->
        </div>
    
    </section>

    <!-- vehicle details section ends  -->

    <!-- footer section starts  -->

    

    <!-- footer section ends -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>
      AOS.init({
        duration: 800,
        offset: 150,
      });
    </script>
  </body>
</html>
{% endblock content %}