{% load static %}
<h1>{{rents.V_model}}</h1>
<h1>{{rents.v_color}}</h1>
<h1>{{rents.v_purchase}}</h1>
<h1>{{rents.v_rent}}</h1>
<img style="width:30%" src="{% static 'assets/' %}{{rents.v_image}}">
<form action="" method="POST">
    {% csrf_token %}
    <label>Vehicle</label>
    <input type="text"  name="vehicle" value={{rents.v_id}}></br>
    <label>user_id</label>
    <input type="text" name="customer" value={{user.id}} ></br>
    <label>address</label>
    <input type="text" name="address"></br>
    
    <label>start_date</label>
    <input type="date" name='start_date'></br>
    <label>end_date</label>
    <input type="date" name="end_date"></br>

    <input type="submit" value="Book Now">

</form>

