{% extends 'nav.html' %}
{% load static %}
{% block content %}
    
<link rel="stylesheet" href="{% static '/css/guide.css' %}" />

<script src="../js/guide.js" defer></script>

    <section class="home" id="home">
        <div class="content">
            <span data-aos="fade-up" data-aos-delay="150">nepGhumau</span>
            <h3 data-aos="fade-up" data-aos-delay="300">Guides</h3>
            <p data-aos="fade-up" data-aos-delay="450">
              Book Your Guide
            </p>
            <a data-aos="fade-up" data-aos-delay="600" href="#guide-details" class="btn" >Book</a>
          </div>
    </section>

    <!-- home section ends -->

    <!-- guide details section starts  -->

    <section class="guide-details" >
         
        <div class="swiper-container guide-slider">
        
            <div class="swiper-wrapper">
              {% for book_guide in guides %}
    
                <div class="swiper-slide">
                    <div class="box">
                        <img data-aos="zoom-in" data-aos-delay="150" src="{% static "assets/pic1.jpg" %}"  alt="">  
                        <a href="#phn_btn" class="btn btn-secondary">Call Now</a>
                        <h3 data-aos="fade-up" data-aos-delay="300">{{book_guide.guide_name}}</h3>
                        <p data-aos="fade-up" data-aos-delay="450">{{book_guide.guide_address}}</p>
                        <p data-aos="fade-up" data-aos-delay="450">{{book_guide.guide_descripition}}</p>
                        <p id="phn_btn" data-aos="fade-up" data-aos-delay="450">{{book_guide.guide_phone}}</p>
                        <div data-aos="zoom-in" data-aos-delay="600" class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
              
                      
                   
    
            </div>
    
        </div> 
    </section>
    
    
    {% endblock content %}

    <!-- guide details section ends  -->

    <!-- footer section starts  -->

    