<form action="" method="POST" >
    <label for="fname">First name:</label><br>
    <input type="text" name="first_name" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" name="lirst_name" id="lname" name="lname"><br>
    <label for="email">email:</label><br>
    <input type="email"  name="event_email"><br>
    <label for="phone">phone:</label><br>
    <input type="text"  name="event_phone"><br>
    <label for="message">message:</label><br>
    <input type="text"  name="event_message"><br>
    <label for="budeget">budget:</label><br>
    <input type="text" name="event_budget"><br>
    <label for="date">date:</label><br>
    <input type="date" name="event_date"><br>
    <input value="Register Data" type="submit" class="btn btn-success ml-5"/> 
</form>