<form action="" method="POST" >
    {% csrf_token %}
    <label for="fname">First name:</label><br>
    <input type="text" name="first" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" name="last" id="lname" name="lname"><br>
    <label for="email">email:</label><br>
    <input type="email"  name="e_email"><br>
    <label for="phone">phone:</label><br>
    <input type="text"  name="e_phone"><br>
    <label for="message">message:</label><br>
    <input type="text"  name="e_message"><br>
    <label for="budeget">budget:</label><br>
    <input type="text" name="e_budget"><br>
    <label for="date">purpose:</label><br>
    <input type="text" name="e_purpose"><br>
    <label for="date">date:</label><br>
    <input type="date" name="e_date"><br>
    <input value="Register Data" type="submit" class="btn btn-success ml-5"/> 
</form>