{% extends 'nav.html' %}
{% load static %}
{% block content %}


<link rel=stylesheet href="{% static '/css/about_us.css' %}">
<link rel="stylesheet" href="{% static '/css/aos.css' %}">

<!-- custom js file link  -->

<script src="{% static '/js/home.js' %}" defer></script>


<!-- home section starts  -->

<header class="home" id="home">

    <div class="content">
        <span data-aos="fade-up" data-aos-delay="150">Explore with Ghumantey</span>
        <a data-aos="fade-up" data-aos-delay="600" href="#about_us" class="btn">explore</a>
    </div>

</header>

<!-- home section ends -->

<!-- Our Team section starts -->
<section class="our_team">

    <h1 data-aos="fade-left" data-aos-delay="800" class="heading">Things to Explore</h1>

    <div class="box-team">

        <div data-aos="fade-left" data-aos-delay="150" class="box">
            <img src="{% static 'assets/explore/explore1.jpg'%}" alt="">
            <h3>Pokhara</h3>
            <details style="color:white">
                <summary>Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                    in Kathmandu before receiving</summary>
                Day 1: Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                in Kathmandu before receiving all the necessary information about the trek from your guide. Day 2:
                Sightseeing in Kathmandu See the sights of Kathmandu with your expert guide in a private car. Day 3:
                Flight from Kathmandu to Lukla After your flight to Lukla, enjoy an easy trek to the upper region of
                Phakding where you will spend the night

            </details>
            <a href="contact_us.html" class="btn">explore</a>
        </div>

        <div data-aos="fade-left" data-aos-delay="200" class="box">
            <img src="{% static 'assets/explore/bkt.jpg'%}" alt="">
            <h3>Chitwan</h3>
            <details style="color:white">
                <summary>Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                    in Kathmandu before receiving</summary>
                Day 1: Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                in Kathmandu before receiving all the necessary information about the trek from your guide. Day 2:
                Sightseeing in Kathmandu See the sights of Kathmandu with your expert guide in a private car. Day 3:
                Flight from Kathmandu to Lukla After your flight to Lukla, enjoy an easy trek to the upper region of
                Phakding where you will spend the night

            </details>
            <a href="contact_us.html" class="btn">explore</a>
        </div>

        <div data-aos="fade-left" data-aos-delay="250" class="box">
            <img src="{% static 'assets/explore/bunjee.jpg'%}" alt="">
            <h3>Lumbini</h3>
            <details style="color:white">
                <summary>Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                    in Kathmandu before receiving</summary>
                Day 1: Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                in Kathmandu before receiving all the necessary information about the trek from your guide. Day 2:
                Sightseeing in Kathmandu See the sights of Kathmandu with your expert guide in a private car. Day 3:
                Flight from Kathmandu to Lukla After your flight to Lukla, enjoy an easy trek to the upper region of
                Phakding where you will spend the night

            </details>
            <a href="contact_us.html" class="btn">explore</a>
        </div>

        <div data-aos="fade-left" data-aos-delay="300" class="box">
            <img src="{% static 'assets/explore/treking.jpeg'%}" alt="">
            <h3>Mustang</h3>
            <details style="color:white">
                <summary>Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                    in Kathmandu before receiving</summary>
                Day 1: Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                in Kathmandu before receiving all the necessary information about the trek from your guide. Day 2:
                Sightseeing in Kathmandu See the sights of Kathmandu with your expert guide in a private car. Day 3:
                Flight from Kathmandu to Lukla After your flight to Lukla, enjoy an easy trek to the upper region of
                Phakding where you will spend the night

            </details>
            <a href="contact_us.html" class="btn">explore</a>
        </div>

        <div data-aos="fade-left" data-aos-delay="350" class="box">
            <img src="{% static 'assets/explore/explore3.jpeg'%}" alt="">
            <h3>Pun hill</h3>
            <details style="color:white">
                <summary>Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                    in Kathmandu before receiving</summary>
                Day 1: Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                in Kathmandu before receiving all the necessary information about the trek from your guide. Day 2:
                Sightseeing in Kathmandu See the sights of Kathmandu with your expert guide in a private car. Day 3:
                Flight from Kathmandu to Lukla After your flight to Lukla, enjoy an easy trek to the upper region of
                Phakding where you will spend the night

            </details>
            <a href="contact_us.html" class="btn">explore</a>
        </div>

        <div data-aos="fade-left" data-aos-delay="400" class="box">
            <img src="{% static 'assets/explore/mustang.jpeg'%}" alt="">
            <h3>Everest</h3>
            <details style="color:white">
                <summary>Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                    in Kathmandu before receiving</summary>
                Day 1: Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                in Kathmandu before receiving all the necessary information about the trek from your guide. Day 2:
                Sightseeing in Kathmandu See the sights of Kathmandu with your expert guide in a private car. Day 3:
                Flight from Kathmandu to Lukla After your flight to Lukla, enjoy an easy trek to the upper region of
                Phakding where you will spend the night

            </details>
        
        </div>

        <div data-aos="fade-left" data-aos-delay="400" class="box">
            <img src="{% static 'assets/explore/rafting.jpg'%}" alt="">
            <h3>Everest</h3>
            <details style="color:white">
                <summary>Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                    in Kathmandu before receiving</summary>
                Day 1: Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                in Kathmandu before receiving all the necessary information about the trek from your guide. Day 2:
                Sightseeing in Kathmandu See the sights of Kathmandu with your expert guide in a private car. Day 3:
                Flight from Kathmandu to Lukla After your flight to Lukla, enjoy an easy trek to the upper region of
                Phakding where you will spend the night

            </details>
            
        </div>

        
        <div data-aos="fade-left" data-aos-delay="400" class="box">
            <img src="{% static 'assets/explore/paragliding.jpg'%}" alt="">
            <h3>Everest</h3>
            <details style="color:white">
                <summary>Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                    in Kathmandu before receiving</summary>
                Day 1: Arrival at Kathmandu Airport Upon arrival at the airport, enjoy a private transfer to your hotel
                in Kathmandu before receiving all the necessary information about the trek from your guide. Day 2:
                Sightseeing in Kathmandu See the sights of Kathmandu with your expert guide in a private car. Day 3:
                Flight from Kathmandu to Lukla After your flight to Lukla, enjoy an easy trek to the upper region of
                Phakding where you will spend the night

            </details>
          
        </div>

    </div>

</section>

<!-- our team section ends -->


{% endblock content %}