{% extends 'nav.html' %}
{% load static %}
{% block content %}


<link rel=stylesheet href="{% static '/css/hotel.css' %}">
<link rel="stylesheet" href="{% static '/css/aos.css' %}">

<!-- custom js file link  -->

<script src="{% static '/js/hotel.js' %}" defer></script>




<!-- home section starts  -->

<header class="home" id="home">

    <div class="content">
        <span></span>
        <span data-aos="fade-up" data-aos-delay="150">Hotels</span>

        <h3 Find Your Best Hotel></h3>
        <p data-aos="fade-up" data-aos-delay="450">We have some best hotels available for you. You can click in the details and see descriptions of it.</p>
        <a data-aos="fade-up" data-aos-delay="600" href="#book-form" class="btn">Book now</a>
    </div>

</header>

<!-- home section ends -->

<!-- booking form section starts  -->

<header class="book-form" id="book-form">

    <form action="">
        <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
            <span>Where to?</span>
            <input type="text" placeholder="place name" value="">
        </div>
        <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
            <span>When?</span>
            <input type="date" value="">
        </div>
        <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
            <span>How many?</span>
            <input type="number" placeholder="number of travelers" value="">
        </div>
        <input data-aos="zoom-in" data-aos-delay="600" type="submit" value="find now" class="btn">
    </form>

</header>

<!-- booking form section ends -->


<!-- hotel section starts  -->

<section class="hotel" id="hotel">

    <div class="heading">
        <span>Popular Hotels</span>
        <h1>Choose some of our popular hotels for you</h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="fade-up" data-aos-delay="150">
            <div class="image">
                <img src="img/img-1.jpg" alt="">
            </div>
            <div class="content">
                <h3>Hotel Annapurna</h3>
                <p>Siraha</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
            <div class="image">
                <img src="img/img-2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Hotel Sagarmatha</h3>
                <p>Dhading</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
            <div class="image">
                <img src="img/img-3.jpg" alt="">
            </div>
            <div class="content">
                <h3>Hotel M2k</h3>
                <p>Rolpa</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
            <div class="image">
                <img src="img/img-4.jpg" alt="">
            </div>
            <div class="content">
                <h3>Hotel Sangrala</h3>
                <p>Rukum</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="750">
            <div class="image">
                <img src="img/img-5.jpg" alt="">
            </div>
            <div class="content">
                <h3>Hotel Yello Pagado</h3>
                <p>Butwal</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="900">
            <div class="image">
                <img src="img/img-6.jpg" alt="">
            </div>
            <div class="content">
                <h3>Hotel Superior</h3>
                <p>Butwal</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1150">
            <div class="image">
                <img src="img/img-7.jpg" alt="">
            </div>
            <div class="content">
                <h3>Hotel Sumana</h3>
                <p>Kathmandu</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="img/img-8.jpg" alt="ghhh">
            </div>
            <div class="content">
                <h3>Hotel Kalika</h3>
                <p>Pokhara</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="img/img-8.jpg" alt="ghhh">
            </div>
            <div class="content">
                <h3>Hotel Momo</h3>
                <p>Thamel</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="img/img-8.jpg" alt="ghhh">
            </div>
            <div class="content">
                <h3>Hotel Santa</h3>
                <p>Jhapa</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="img/img-8.jpg" alt="ghhh">
            </div>
            <div class="content">
                <h3>Hotel Simara</h3>
                <p>Bhaktapur</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="img/img-8.jpg" alt="ghhh">
            </div>
            <div class="content">
                <h3>Hotel Begnas</h3>
                <p>Nuwakot</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
            <div class="image">
                <img src="img/img-8.jpg" alt="ghhh">
            </div>
            <div class="content">
                <h3>Hotel Begnas</h3>
                <p>Nuwakot</p>
                <a href="#">Details <i class="fas fa-angle-right"></i></a>
            </div>
        </div>

    </div>

</section>



<div class="banner">

    <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
        <span>Didn't found your desired hotel?</span>
        <h3>Contact us for more hotels</h3>
        <p>We will help you with best hotels for  you.</p>
        <a href="#book-form" class="btn">book now</a>
    </div>

</div>

<!-- banner section ends -->


{% endblock content %}