{% extends 'nav.html' %}
{% load static %}
{% block content %}

    <title>nepGhuma</title>
    <link rel="stylesheet" href="{% static '/css/user_profile2.css' %}">
</head>
<body>
    <div class="regform"> <h1> Event form </h1></div>
    <div class="main">
        <form>
    <div class="class1">
        <label class="label">First Name</label><br>
        <input class="fname" type="text" name="First Name"><br>

        <label class="label">Last Name</label><br>
        <input class="lname" type="text" name="Last Name"><br>

        
        <label class="label">Email</label><br>
        <input class="mail" type="text" name="Email"><br>

        <label class="label">Phone</label><br>
        <input class="phone" type="text" name="Phone"><br>

        <label class="label">message</label><br>
        <input class="msg" type="text" name="message"><br>

        <label class="label">Date</label><br>
        <input class="date" type="date" name="Date"><br>

        <label class="label">Price</label><br>
        <input class="price" type="text" name="Price"><br>

        <label class="label">Purpose</label><br>
        <input class="purpose" type="text" name="Purpose"><br>
        
        <button type="submit">Submit</button>
    </div>
        </form>
    
</body>
</html>
{% endblock content %}