{% extends 'nav.html' %}
{% load static %}
{% block content %}

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static '/css/flights.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />

    <!-- custom js file link  -->
    <script src="{% static '/js/flights.js' %}" defer></script>
  </head>
  <body>
    <!-- header section starts  -->

    <!-- home section starts  -->

    <header class="home" id="home">
      <div class="content">
        <span></span>
        <span data-aos="fade-up" data-aos-delay="150">Flights</span>

        <h3 Find your best flight.></h3>
        <p data-aos="fade-up" data-aos-delay="450">
          Book best flights as per your need.
        </p>
        <a data-aos="fade-up" data-aos-delay="600" href="flights/book_flights" class="btn"
          >book now</a
        >
      </div>
    </header>

    <!-- home section ends -->

    <!-- booking form section starts  -->

    <header class="book-form" id="book-form">
      <form action="search_flight" method="POST">
        {% csrf_token %}
        <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
          <span>From?</span>
          <input type="text" placeholder="place name" value="" name="searched"/>
        </div>
        <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
          <span>To?</span>
          <input type="text" placeholder="place name" value="" name="searched1" />
        </div>
        <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
          <span>when?</span>
          <input type="date" value="" />
        </div>
        <div data-aos="zoom-in" data-aos-delay="600" class="inputBox">
          <span>how many?</span>
          <input type="number" placeholder="number of travelers" value="" />
        </div>
        <input
          data-aos="zoom-in"
          data-aos-delay="750"
          type="submit"
          value="find now"
          class="btn"
        />
      </form>
    </header>

    <!-- booking form section ends -->
    <!-- start table -->
    <!-- {% if searched %}
    <h1 style="color:white">you search for {{searched}}</h1><br/>
    <table class="table " style="color:white">
      <thead>
        <tr>
          <th style="color:white"scope="col">#</th>
          <th style="color:white"scope="col">Name</th>
          <th style="color:white"scope="col">from</th>
          <th scope="col">to</th>
          <th scope="col">way</th>
          <th scope="col">date</th>
          <th scope="col">time</th>
          <th scope="col">price</th>
          <th scope="col">Avaible</th>
        </tr>
      </thead>
      <tbody>
      
        <tr>
          {% for flights in venues %}
          <th scope="row">2</th>
          <td>{{ flights.flight_name }}</td>
          <td>{{ flights.flight_from }} </td>
          <td>{{flights.flight_to}}</td>
          <td>{{flights.flight_way}}</td>
          <td>{{flights.flight_date}}</td>
          <td>{{flights.flight_time}}</td>
          <td>{{flights.flight_money}}</td>
          <td><a href="flight_ticket/{{flights.flight_id}}" class="btn btn-secondary">Book Now</a></td>
          <!-- <td><a href="fbook/{{flights.flight_id}}" class="btn btn-secondary">Book Now</a></td> -->
<!--      
        </tr>
      
        {% endfor %}
        <tr>
        
      </tbody>
    </table> -->
    <!-- {% else %}
    <h1 style="color:white">you search for > Hey ! You forget to searched for flight</h1>
    {% endif %}  --> 
    <!-- table end -->

    <div class="banner">
      <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
        <span>About nepGhuma Flight Booking.</span>
        <h3>
          Find the cheapest flights anywhere with nepGhuma! Search and book for
          free on hundreds of airlines and thousands of destinations worldwide.
        </h3>
        <p>
          nepGhuma is simple and fast. And it’s free to use! Compare low cost
          flights then book your airline tickets from anywhere of Nepal.
        </p>
        <p>
          If your travel dates are flexible we can show you the cheapest days in
          the month to fly. And if you’re in the mood for adventure you can
          search on Skyscanner from your chosen departure airport to everywhere.
          So the only question left is... where to now? Browse through our
          flight offers below, or use the search box to enter your travel dates
          and let us find the cheapest flights of Nepal.
        </p>
        <a href="#book-form" class="btn">book now</a>
      </div>
    </div>

    <!-- banner section ends -->

    
    <!-- footer section ends -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>
      AOS.init({
        duration: 800,
        offset: 150,
      });
    </script>
  </body>
  </html>
  {% endblock content %}
