
{% load static %}



  
    
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nepGhuma</title>
    <link rel="stylesheet" href="{% static '/css/flights2.css' %}">
</head>
<body>
    <div class="regform"> <h1>{{flight.flight_name}} Airlines </h1>
        <h2> {{flight.flight_from}} to {{flight.flight_to}}<br> {{flight.flight_way}}</h2>
        {{flight.flight_date}}
    <label>Time</label>
    {{flight.flight_time}}<br>
    </div>
    <div class="main">
        <form action="" method="POST">
            {% csrf_token %}
    <div class="class1">
        <label class="label">Flight id</label><br>
        <input class="airlines" type="text" name="flights" style="color:black; background-color: white;" disabled value="{{flight.flight_id}}"><br>

        <label class="label">Customer_id</label><br>
        <input class="from" type="text" name="customer" style="color:black; background-color: white;"  disabled value="{{user.id}}"><br>

        <label class="label">phone</label><br>
        <input class="to" type="text" name="phone" required><br>

        <label class="label">No of ticket</label><br>
        <input class="date" type="text" name="tickets" required><br>
        <label class="label">price:{{flight.flight_money}}</label>
        

        
        <button type="submit">Submit</button>
    </div>
        </form>
    
</body>
</html>
